*{
    padding: 15;
    margin: 0px;;
    
    }
    .navbar{
        height: 160px;
        width: 100%;
        background: rgba(99, 24, 24, 0.4);

    }
    .logo{
        width: 140px;
        height: auto;
        padding: 20px;
    }
    .navbar ul{
        float:right;
        margin-right: 20px;
    }

    .navbar ul li{
        list-style: none;
        margin: 0 8px;
        display: inline-block;
        line-height: 70px;
    }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 5px;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    .navbar ul li a.active,
    .navbar ul li a:hover{
        background: rgb(14, 12, 12);
        border-radius: 3px;
    }

    .page{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 10px;
    }

    img{
        width: 100%;
        border-radius: 30px ;
    }

    