*{
    padding: 15;
    margin: 0px;;
    
    }
    .navbar{
        height: 160px;
        width: 100%;
        background: rgba(99, 24, 24, 0.4);

    }
    .logo{
        width: 140px;
        height: auto;
        padding: 20px;
    }
    .navbar ul{
        float:right;
        margin-right: 20px;
    }

    .navbar ul li{
        list-style: none;
        margin: 0 8px;
        display: inline-block;
        line-height: 70px;
    }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 5px;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    .navbar ul li a.active,
    .navbar ul li a:hover{
        background: rgb(14, 12, 12);
        border-radius: 3px;
    }
    
    .container{
        width: 80%;
        margin: 50px auto;
    }

    .content-box{
        background: #fff;
        display: flex;
        
    }

    .contact-left{
        flex-basis: 60%;
        padding: 40px 60px;
    }

    .contact-right{
        flex-basis: 60%;
        padding: 40px 60px;
        background: #6d5a6d;
        color: aliceblue;
    }

    h1{
        margin-top: 10px;

    }

    .container p{
        margin: 40px;
    }

    .input-row{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .input-row .input-group{
        flex-basis: 40%;
    }

    .input{
        width: 100%;
        border: 1px solid;
        border-bottom: 1px solid #ccc;
        outline: none;
        padding-bottom: 5px;
    }

    textarea{
        width: 100%;
        border: 1px solid #ccc;
        outline:none;
        padding: 10x;
        box-sizing: border-box;
    }

    label{
        margin-bottom: 6px;
        display: block;
    }

    button{
        background: rgb(221, 50, 50);
        width: 100px;
        border:none;
        outline: rgb(243, 32, 32);
        height: 35px;
        border-radius: 30px;
        margin-top: 20px;
        box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);

    }

    .contact-right h3{
        font-weight: 600;
        margin-bottom: 30px;
    }
    tr td:first-child{
        padding-right: 20px;
    }

    tr td:first-child{
        padding-top: 20px;
    }

    
    
    


    




